html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .light-mode, .dark-mode {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
  
  .light-mode {
    background-color: #ffffff;
    color: #333333;
  }
  
  .dark-mode {
    background-color: #333333;
    color: #ffffff;
  }
  
  .main-content {
    background-color: inherit;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    flex: 1;
    overflow-y: auto;
  }
  
  .dark-mode .sidebar, .light-mode .sidebar {
    background-color: #333333;
    color: white;
  }
  
  .light-mode .sidebar {
    background-color: #f1f1f1;
    color: #333;
  }
  
  .footer {
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
    font-size: 13px;
  }
  
  .light-mode .footer {
    color: #333;
  }
